<div class="comp-promo">
  <div class="comp-promo__bg"></div>
  <div class="comp-promo__wrap">
    <div class="comp-promo__text text--white">
      <h4 class="title title--lg title--display title--bold title--upper title--kerning">Win upgrades to your stay</h4>
      <p class="text--lg">Book a stay at <span class="text--bold">Vivanta by Taj - Coral Reef</span> and you'll be entered into a draw to win <span class="text--bold">$200 USD resort credit, a villa upgrade and a romantic beach dinner for two!</span></p>
      <p><a href="https://www.secretescapes.com/vivanta-by-taj-coral-reef-north-male-atoll-maldives/sale" id="tracking-comp-banner-button" class="btn btn--white-outline">View Vivanta by Taj - Coral Reef</a></p>
      <p><a href="javascript:void(0);" class="js-open-modal text--sm" data-open-modal="comp-terms">Terms &amp; conditions apply.</a></p>
    </div>
  </div>
</div>