<div class="comp-promo">
  <div class="comp-promo__bg"></div>
  <div class="comp-promo__wrap">
    <div class="comp-promo__text text--white">
      <h4 class="title title--lg title--display title--bold title--upper title--kerning">Win a dream holiday in the Maldives</h4>
      <p class="text--lg">Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
      <a href="{{site.baseurl}}/offers" class="btn btn--white-outline">Enter now</a>
    </div>
  </div>
</div>