// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white      { background-color: $white; }
  &--white-5    { background-color: rgba($white,.5); }
  &--light-grey { background-color: $grey-lightest; }
  &--grad-blue {
    background-color: $theme-blue;
    background: -moz-linear-gradient(-45deg, #4bb7cc 0%, #383b8c 100%);
    background: -webkit-linear-gradient(-45deg, #4bb7cc 0%,#383b8c 100%);
    background: linear-gradient(135deg, #4bb7cc 0%,#383b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bb7cc', endColorstr='#383b8c',GradientType=1 );
  }
  &--grad-cyan {
    background-color: $theme-cyan;
    background: -moz-linear-gradient(-45deg, #53b6d7 0%, #277ca1 100%);
    background: -webkit-linear-gradient(-45deg, #53b6d7 0%,#277ca1 100%);
    background: linear-gradient(135deg, #53b6d7 0%,#277ca1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b6d7', endColorstr='#277ca1',GradientType=1 );
  }
  &--grad-green {
    background: $theme-green;
    background: -moz-linear-gradient(-45deg, #b7cc4b 0%, #3b8c38 100%);
    background: -webkit-linear-gradient(-45deg, #b7cc4b 0%,#3b8c38 100%);
    background: linear-gradient(135deg, #b7cc4b 0%,#3b8c38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7cc4b', endColorstr='#3b8c38',GradientType=1 );
  }
  &--fixed {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    .touch & { background-attachment: scroll; }
  }
}



.comp-promo {
  position: relative;
  @include background-attributes;
  background-color: $theme-cyan;
  background-image: url('../img/content/competition.jpg');
  background-position: 20% center;
  @include bp(xl){ background-position: 35% center; }
  &__bg {
    $gradient-width: 400px;
    $panel-width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #828492;
    mix-blend-mode: multiply;
    @include bp(xl){
      left: auto;
      width: $panel-width;
      background-color: #a1a2a9;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -$gradient-width;
        bottom: 0;
        display: block;
        width: $gradient-width;
        background-image: url('../img/grad.png');
        background-position: 0;
        background-repeat: repeat-y;
        background-blend-mode: multiply;
      }
    }
  }
  &__wrap {
    $gradient-width: 250px;
    $panel-width: 50%;
    position: relative;
    margin-left: auto;
    padding: $s12 $s4;
    color: white;
    text-align: center;
    @include bp(xl){
      text-align: left;
      width: $panel-width;
    }
  }
  &__text {
    max-width: $lg;
  }
}


.review {
  &__image {
    @include bp(xxl){
      width: 66% !important;
      &-left { margin-left: -20% !important; }
      &-right { margin-right: -20% !important; }
    }
  }
  &__banner {
    height: 300px;
    @include bp(lg){ height: 500px; }
  }
}


.message {
  * + & { margin-top: $s2; }
  padding: 1.5em 2em;
  border-radius: 4px;
}