$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

// text colours
$text:        $grey;
$text-dark:   $grey-dark;
$text-light:  $grey-light;
$text-white:  $grey-lightest;
$headline:    #353740;

// brand colours
$theme-cyan:       #25abd7;
$theme-blue:       #1b7a9d;
$theme-green:      #78a24d;
$theme-green-dark: #437943;
$theme-yellow:     #f2cd54;