---
layout: guide
group: explore
group-order: 1

id: practical-guide
title: Practical Guide to the Maldives



intro-short: A real-world reference to glance at before you go.
intro: Even paradise requires a few practicalities. Get the low-down on seaplanes and speedboats, going all-inclusive versus playing it day-by-day, plus a reminder of some essential suitcase items.



sections:

  - title: Getting there
    content: >
      <p>Most visitors will arrive at the main international airport in Malé (sometimes called Velana). From here, depending on how far-flung your destination is, the most likely next step will be by speedboat or chartered seaplane. Both have their advantages. For many, boarding a seaplane is a once-in-a-lifetime prospect: a chance to gawp at the sapphire Indian Ocean and its reef-ringed islands from the air. It’s an unforgettable way to make an entrance - just be mindful of the usually-hefty price and the restriction on flying outside of daylight hours, ergo the need to book a hotel near the airport if you’ll be arriving after dark. For the islands scattered closer to Malé, the resorts tend to operate speedboat transfers even when the stars are out, so you can be sweeping towards your resort with a trail of phosphorescent backwash behind you, knowing your first step outside in the morning will be an unforgettable one.</p>
      <p>As transfer options vary from island to island - always contact the resort directly in advance of your stay. They’ll assist with the arrangements.</p>



  - title: All or board
    image-credit: Vivanta by Taj - Coral Reef. Latitude - the Coffee Shop.
    content: >
      <p>There are few places in the world you’ll need to give as much consideration to your board basis as in the Maldives, the reason being: you won’t be eating outside of your resort. All-inclusive and full board are popular options that make a lot of sense (who wants to be watching the bill mount up when you can deal with the costs before you arrive?). That said, if you think you’ll be satisfied with ad-hoc lunch plans between a hearty breakfast and dinner, half board can also be a good choice. Note that alcohol can be expensive in the Maldives, though some resorts including Vivanta by Taj - Coral Reef make sundowners a little easier to swallow, with daily promotions on selected drinks. Service is usually charged at 10% and GST at 12%.</p>



  - title: Snorkelling
    content: >
      <p>The glass-flat lagoons and kaleidoscopic reefs are a world within a world; paradise within paradise. Snorkelling is a must. Rental of the kit tends to be complimentary and the only prerequisite is that you can manage a few basic swim strokes. You’ll probably rack up several hours with your back to the heavens, so keep snorkellers’ scorch at bay by packing a swim vest, bikini bottoms with decent coverage and a high-factor, water-resistant sunscreen. Nobody wants to look like they’ve been blasted by a furnace from behind - least of all, in the Maldives.</p>



small-sections:

  - title: Currency
    content: >
      <p>Officially, the currency is Maldivian Rufiyaa, but the resorts quote all prices in US dollars, which is a legal tender in the Maldives. Most resorts will allow you to withdraw dollars, for a fee. </p>



  - title: Best time to go
    content: >
      <p>The Maldives is warm and beautiful all year round, however it’s worth checking the annual averages if you want the very best weather. When to go depends on which atoll you’re visiting; as a general rule, December to March is high season and May to October sees wetter spells.</p>



  - title: Mosquitos
    content: >
      <p>Tropical diseases aren’t a problem in the resorts and the islands are fumigated regularly. Even so, if you’re prone to bites, the hardier mosquitos will hang on in there just for you. Pack a good repellent and balm - prices tend to be significantly marked up at resort shops so it’s better to be armed with the essentials before you arrive.</p>


---



{% for section in page.sections %}
<div class="harvey {% cycle 'harvey--swap', ''%} bg--light-grey">

  <div class="harvey__image bg-img--16-9 bg-img--xl-2-3 bg-img--xxl-1-1" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/{{section.title|slugify}}.jpg);">
    {% if section.image-credit %}
    <div class="bg-img__credit">{{section.image-credit}}</div>
    {% endif %}
  </div>

  <div class="harvey__text text--center">
    <h3 class="title title--lg title--bold title--italic">{{section.title}}</h3>
    <div class="text--md line-length--md">
      {{section.content}}
    </div>
  </div>

</div>
{% endfor %}



<div class="section vpad--xxl">
  <div class="row row--padding row--4-4-4-gutters">
  {% for section in page.small-sections %}

    <div class="col">
      <h3 class="title title--xs title--bolder title--upper title--kerning">{{section.title}}</h3>
      {{section.content}}
    </div>

  {% endfor %}
  </div>
</div>