---
layout: guide
group: explore
group-order: 3

id: family-friendly
title: Family-friendly Maldives



intro-short: It’s not just for honeymooners - the heavenly islands are safe and fun-filled playgrounds for kids, too.
intro: Once seen as an adults-only zone for honeymooners and couples, the Maldives is becoming increasingly popular with families for its incredibly safe environs and activity-led resorts. Choose your island carefully and you can enjoy the very best of barefoot luxury, while the little ones have a ball. As a guide, here are some considerations to help you pick the right paradise for your pack.



sections:

  - title: Villas
    content: >
      <p>Beach villas are probably the best choice if you’re travelling with a baby or very young children. Aside from the obvious safety qualms, they tend to offer the most space and are more conveniently located for accessing the resort facilities.</p>

  - title: Activities
    content: >
      <p>Some resorts are more activity-focused than others. It’s nice to think that you might sit around as a family playing rummy until the sun sets, but for when you need to pull out the big guns, watersports and child-friendly excursions are key. Plus, gazing out from an infinity pool is fine, but the view from a fun tube? Something else. </p>



small-sections:

  - title: Services
    content: >
      <p>A kids club is a must. Not only will it keep them entertained, it will give you a chance to disappear for a Maldivian spa treatment while they play. Most resorts offer a babysitter on request. It’s also worth checking if there’s an on-island doctor, a kids pool and children’s menus.</p>

  - title: Transport
    content: >
      <p>Hats off to those who’ll accept the challenge of a domestic flight after touching down in Malé. If reaching your destination as quickly and seamlessly as possible is what you have in mind, consider a resort that’s not too far from the mainland. Speedboat transfers are quicker, more affordable and convenient if you’re landing outside of daylight hours.</p>

  - title: Conservation
    content: >
      <p>When you’re visiting somewhere as pristine as the Maldives, it’s a joy to help the resort staff with their conservation efforts. Children can often participate in projects including coral regeneration - the biggest challenge for the archipelago. A wonderful way for the kids to earn their keep.</p>



---



<div class="section {% cycle 'bg--light-grey', ''%}">

  {% for section in page.sections %}
  <div class="bob row row--padding">

    <div class="bob__image bg-img bg-img--16-9 bg-img--lg-3-2 bg-img--rounded" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/{{section.title|slugify}}.jpg);"></div>

    <div class="bob__text">
      <div class="line-length--lg">
        <h3 class="title title--lg title--bold title--italic">{{section.title}}</h3>
        <div class="text--lg">
          {{section.content}}
        </div>
      </div>
    </div>

  </div>
  {% endfor %}

</div>



<div class="section vpad--xxl">
  <div class="row row--padding row--4-4-4-gutters">
  {% for section in page.small-sections %}

  <div class="col">
    <h3 class="title title--xs title--bolder title--upper title--kerning">{{section.title}}</h3>
    <div class="text--lg">
      {{section.content}}
    </div>
  </div>

  {% endfor %}
  </div>

</div>